<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Inicio - Mi Sitio Web {% endblock %}</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif; justify-content: center;align-items: center;background: #f2f2f2; color: #333;">

 {% block header %}
  <!-- Encabezado -->
  <header style="background-color: #4CAF50; padding: 20px; text-align: center; color: white;">
    <h1 style="margin: 0;">Tercera Entrega</h1>
    <p style="margin: 5px 0;">Ignacio Cassani</p>
  </header>
{% endblock %}
  <!-- Contenido principal -->
  <main style="padding: 40px; text-align: center;">
    {% block content %}
    <h2 style="color: #4CAF50;">¿Qué ofrecemos?</h2>
    <p style="max-width: 600px; margin: 0 auto 30px;">
      Las soluciones a los pedidos de la Tercer Entrega !!.
    </p>
    {% endblock %}
   

  </main>



  <!-- Sección de servicios -->
  <section id="servicios" style="background: white; padding: 40px 20px;justify-content: center;align-items: center;">

    <h3 style="text-align: center; color: #333;">Menú de Consignas</h3>

    <button onclick="location.href='http://127.0.0.1:8000/disco'">Ir a Crear Disco</button>
    <button onclick="location.href='http://127.0.0.1:8000/crear-estudiante'">Ir a Crear Estudiante</button>
    <button onclick="location.href='http://127.0.0.1:8000/crear-curso'">Ir a Crear Curso</button>
    <button onclick="location.href='http://127.0.0.1:8000/cursos/buscar'">Ir a Buscar Curso</button>
  </section>


</body>
</html> 
